@font-face {
    font-family: "Lato-Regular";
    src: url(assets/fonts/Lato/Lato-Regular.woff2) format('woff2');
    src: url(assets/fonts/Lato/Lato-Regular.woff) format('woff'), url(assets/fonts/Lato/Lato-Regular.eot) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url(assets/fonts/Lato/Lato-Bold.woff2) format('woff2');
    src: url(assets/fonts/Lato/Lato-Bold.woff) format('woff'), url(assets/fonts/Lato/Lato-Bold.eot) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Maven Pro";
    src: url(assets/fonts/MavenPro/MavenPro-Regular.ttf) format('truetype');
    src: url(assets/fonts/MavenPro/Maven-Pro-regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster";
    src: url(assets/fonts/Lobster-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NatoSan";
    src: url(assets/fonts/NotoSansKR/NotoSansKR-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: rgba(0, 0, 0, 1)
}

html {
    min-width: 400px;
}

.body {
    width: 100%;
    margin: 0 auto;
}

header {
    z-index: 1;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top right, #e2c107, #429617);
}

h1, h2 {
    padding-top: 1%;
    font-size: 2.4em;
    line-height: 55px;
    font-family: "Lobster", cursive;
    text-align: center;
    vertical-align: 20px;
}

h1 {
    padding-top: 2%;
}

h2 {
    font-size: 2.1em;
    line-height: 2%;
}

h3 {
    padding-bottom: 10px;
    font-size: 1.9em;
    font-family: "Lato-Bold", "Maven Pro" sans-serif;
    text-align: center;
}

span {
    font-style: italic;
    font-size: 1.1em;
    font-family: "Lato-Bold", "Maven Pro" sans-serif;
}

.wrapper {
    max-width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    background:linear-gradient(to top right, rgba(168, 255, 187, 0.28), rgba(224, 236, 40, 0.62));
    box-shadow: 2px 6px 15px rgba(12, 7, 0, 0.5), -2px -6px 15px rgba(12, 0, 15, 0.5);
}

.profile {
    position: relative;
    min-height: 200px;
}

.circle {
    position: absolute;
    bottom: 5vh;
    z-index: 15;
    width: 250px;
    height: 250px;
    background-image: url(./assets/images/vFT8KC9ACKY.jpg);
    background-position: 45% 5%;
    background-repeat: no-repeat;
    border-radius: 360px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3), -5px -10px 20px rgba(255, 255, 255, 0.5);
}

.contact-info {
    position: absolute;
    bottom: 30px;
    left: 34%;
    z-index: 11;
    width: 30%;
    padding: 2.3%;
    font-family: "Lato-Regular", "Maven Pro", sans-serif;
    background-color: rgba(212, 235, 175, 0.2);
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(71, 55, 2, 0.5), -5px -10px 20px rgba(2, 58, 16, 0.5);
}

.contact-info li {
    padding: 1%;
    padding-left: 2%;
    font-style: italic;
}

.contact-info li:hover {
    font-size: 1.2em;
    text-decoration: underline;
}

.contact-items span {
    font-weight: bolder;
}

ul.icons {
    position: fixed;
    bottom: 1%;
    left: 87%;
}

ul.icons li {
    position: relative;
    padding: 20%;
}

.fa {
    width: 30px;
    height: 28px;
    padding: 20%;
    text-align: center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.fa-facebook {
    background-color: #405e9b;
    border-radius: 4px;
    opacity: 1;
}

.fa-google-plus {
    background-color: rgb(216, 82, 72);
    border-radius: 360px;
}

.fa-linkedin {
    background-color: rgb(0, 119, 181);
    border-radius: 4px;
}

.fa-skype {
    background-color: rgb(0, 175, 240);
    border-radius: 4px;
}

.fa-github {
    background-color: rgb(23, 21, 21);
    border-radius: 360px;
}

.fa-vk {
    background-color: rgb(78, 125, 178);
    border-radius: 4px;
}

.resume {
    display: grid;
    grid-template-rows: repeat(4, minmax(1fr, max-content));
    grid-template-columns: repeat(2, minmax(1fr, max-content));
    font-size: 1em;
    font-family: "Lato-Regular", "Maven Pro", sans-serif;
}

.info-about {
    grid-column: 1/3;
    grid-row: 1;
    padding: 0 5% 5% 5%;
    text-align: justify;
    border-bottom: 2px solid rgb(56, 51, 51);
}

.info-about h3 {
    padding-left: 10px;
    text-align: left;
}

.info-about p {
    font-family: "NatoSan", sans-serif;
}

.courses {
    grid-column: 2;
    grid-row: 3;
    padding: 3% 5%;
    font-family: "Lato-Bold", "Maven Pro", sans-serif;
    border-bottom: 2px solid rgb(56, 51, 51);
}

ul.education {
    padding: 0;
    margin-left: 5px;
}

ul.education .bio {
    list-style-image: url(./assets/images/bio.png);
}

ul.education .codeacademy {
    list-style-image: url(./assets/images/codeacademy.png);
}

ul.education .htmlacademy {
    list-style-image: url(./assets/images/htmlacademy.png);
}

ul.education .javarush {
    list-style-image: url(./assets/images/javarush.png);
}

ul.education li {
    padding: 5px 10px;
    list-style-position: inside;
}

ul.education li:hover {
    font-size: 1.2em;
    text-decoration: underline;
}

.profskill {
    grid-row: 2;
    grid-column: 1/3;
    border-bottom: 2px solid rgb(56, 51, 51);
}

ul.skill li.item {
    padding: 2% 2%;
}

ul.skill li.item span{
    font-weight: bold;
}

.code {
    grid-row: 3;
    grid-column: 1;
    padding: 3% 5%;
    border-bottom: 2px solid rgb(56, 51, 51);
    border-right: 2px solid rgb(56, 51, 51);

}

ul.example li {
    padding: 10px 30px 10px 5px;
    font-weight: 600;
    font-size: 1.2rem;
    list-style-image: linear-gradient(#FF7A2F 0, #FF7A2F 60%, #FFB214 60%);
}

.example li:hover {
    font-size: 1.2em;
    text-decoration: underline;
}

.example a {
    color: rgb(23, 21, 21);
}

.language {
    grid-row: 4;
    grid-column: 1/3;
    font-size: 1rem;
    font-family: "NatoSan", sans-serif;
    border-bottom: 2px solid rgb(56, 51, 51);
}

.language p span {
    font-weight: bold;
}